body{
    font-family: "Montserrat", sans-serif;
}
header{
    height: 10vh;
}

div#main-container{
    background-color: rgb(127, 255, 212);
}

div#grid{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

div.box{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-blue{
    background-color: rgb(100, 149, 237) ;
    color: white;
}